.advantages__heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $basic-black;
}
