.button {
  display: block;
  border: 2px solid $text;
  background-color: $basic-white;
  width: auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $text;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    border: 2px solid $text;
    background-color: $text;
    color: $basic-white;
    cursor: pointer;
  }

  &:active {
    color: rgba($basic-white, 0.3);
    cursor: pointer;
  }
}
