.card {
  width: auto;
  border: 1px solid $shadow-header;

  @media (min-width: $medium-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 316px;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }
}

.card__link-img {
  &:focus {
    outline: none;
  }

  @media (min-width: $medium-width) {
    width: 50%;
  }

  @media (min-width: $large-width) {
    width: auto;
  }
}

.card__img {
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $medium-width) {
    margin: 0;
  }
}

.card__info-wrapper {
  padding: 0 26px;
  padding-top: 27px;

  @media (min-width: $medium-width) {
    width: 50%;
    max-width: 50%;
    min-width: 0;
    word-break: break-word;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 33px;
    padding-right: 30px;
  }

  @media (min-width: $large-width) {
    width: 316px;
    max-width: 316px;
    min-width: 0;
    padding-left: 28px;
  }
}

.card__info-wrapper-param {
  margin-bottom: 17px;
  position: relative;

  @media (min-width: $large-width) {
    min-height: 79px;
  }
}

.card__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 4px;
  min-width: 0;
  word-break: break-word;

  @media (min-width: $medium-width) {
    font-size: 20px;
  }
}

.card__link-heading {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover .card__heading,
  &:focus .card__heading {
    color: rgba($basic-black, 0.6);
  }

  &:active .card__heading {
    color: rgba($basic-black, 0.3);
  }
}

.card__parameters {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: $text;
  margin: 0;

  @media (min-width: $medium-width) {
    font-size: 15px;
  }
}

.card__wrapper-purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  position: relative;

  &::before {
    @include pseudo();
    @include size(100%, 1px);
    background-color: $shadow-header;
    top: 0;
  }

  @media (min-width: $medium-width) {
    margin-top: auto;
    min-height: 73px;
  }

  @media (min-width: $large-width) {
    min-height: 71px;
  }
}

.card__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;

  @media (min-width: $medium-width) {
    font-size: 17px;
  }
}

.card__basket {
  @include size(21px, 19px);
  fill: rgba($basic-black, 0.2);

  &:hover {
    fill: $turquoise;
  }
}


.card__btn {
  max-height: 19px;

  &:focus {
    outline: none;

    & .card__basket {

      fill: $turquoise;
    }
  }

  &:active .card__basket {
    fill: rgba($turquoise, 0.3);
  }
}
