.categories-list {
  list-style: none;
  width: 100%;
  display: block;

  @media (min-width: $medium-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.categories-list__item {
  background-color: $turquoise;
  flex-basis: 100%;
  max-width: 100%;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 113px;
  position: relative;

  &::after {
    @include pseudo();
    @include size(40px, 62px);
    background-image: url("../img/icon-interior.svg");
    right: 36px;
    top: 24px;
    opacity: 0.5;

    @media (min-width: $medium-width) {
      top: 30px;
    }

    @media (min-width: $large-width) {
      top: 31px;
    }
  }

  &:hover,
  &:focus-within {
    background-color: $turquoise-lighter;
    outline: none;
    cursor: pointer;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &--darker {
    background-color: $turquoise-darker;

    &::after {
      @include size(60px, 60px);
      background-image: url("../img/icon-toy.svg");
      right: 27px;
      top: 20px;

      @media (min-width: $medium-width) {
        top: 33px;
        right: 32px;
      }

      @media (min-width: $large-width) {
        top: 33px;
        right: 35px;
      }
    }

    &:hover,
    &:focus {
      background-color: $turquoise-darker-active;
      outline: none;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $medium-width) {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 36px;
    padding-bottom: 34px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 34px;
  }
}

.categories-list__link {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
