.container {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $medium-width) {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: $large-width) {
    width: $large-width;
    margin: 0 auto;
  }
}
