.copyright {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 19px 18px 19px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-break: break-word;
  max-width: 100%;

  @media (min-width: $medium-width) {
    padding: 0;
    flex-basis: 28%;
    max-width: 28%;
    justify-content: flex-start;
  }

  @media (min-width: $large-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;
  margin: 0;
  padding-right: 28px;
  max-width: 70%;
  min-width: 0;
  word-break: break-word;

  @media (min-width: $medium-width) {
    padding-right: 0;
    min-width: 158px;
  }
}

.copyright__link {
  line-height: 0;
}

.copyright__img-svg {
  fill: $turquoise;

  &:hover,
  &:focus {
    fill: $turquoise-darker-active;
  }

  &:active {
    fill: rgba($turquoise-darker-active, 0.3);
  }
}
