.form-order__fieldset {
  border: 0;
  margin-bottom: 31px;

  @media (min-width: $medium-width) {
    margin-bottom: 48px;
  }

  &--color {
    margin-bottom: 35px;

    @media (min-width: $medium-width) {
      padding-top: 51px;
      padding-bottom: 24px;
      margin-bottom: 0;
    }
  }

  &--id {
    margin-bottom: 35px;

    @media (min-width: $medium-width) {
      padding-top: 51px;
      margin-bottom: 50px;
    }
  }

  &--contacts {
    margin-bottom: 37px;

    @media (min-width: $medium-width) {
      padding-top: 49px;
      padding-bottom: 50px;
    }
  }
}

.form-order__w-layout {
  @media (min-width: $medium-width) {
    display: flex;
    align-items: flex-start;
  }
}

.form-order__fieldset-wrapper {
  @media (min-width: $medium-width) {
    background-color: $gray;
  }
}

.form-order__list {
  padding: 0;
  list-style: none;
  margin: 0;

  &--add {
    margin-bottom: 9px;
  }

  @media (min-width: $medium-width) {
    display: flex;

    &--type {
      flex-wrap: wrap;
      flex-direction: column;
      flex-basis: 75%;
      max-width: 75%;
      min-width: 0;
      word-break: break-word;
    }

    &--color {
      flex-wrap: wrap;
      flex-basis: 75%;
    }

    &--id {
      flex-wrap: wrap;
      flex-basis: 75%;
    }

    &--contacts {
      display: block;
    }

    &--add {
      padding-top: 12px;
      margin-bottom: 53px;
    }

    &--submit {
      justify-content: space-between;
    }
  }

  @media (min-width: $large-width) {
    flex-basis: 83.3%;
    max-width: 83.3%;

    &--id {
      flex-basis: 67%;
      min-width: 67%;
    }

    &--contacts {
      flex-basis: 67%;
    }

    &--add {
      margin-bottom: 50px;
    }

    &--submit {
      max-width: 100%;
      padding: 0 177px;
    }
  }
}

.form-order__item {
  &--type {
    margin-bottom: 14px;
    min-height: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--color {
    min-height: 40px;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--id {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $medium-width) {
    &--type {
      min-height: 55px;
      margin-bottom: 20px;
    }

    &--color {
      min-height: 52px;
      margin-bottom: 24px;

      @media (min-width: $medium-width) and (max-width: $large-width-min) {
        &:nth-child(odd) {
          flex-basis: 52%;
        }

        &:nth-child(even) {
          flex-basis: 48%;
        }
      }
    }

    &--id {
      width: 100%;
      margin-bottom: 24px;
      min-height: 52px;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: $large-width) {
    &--color {
      flex-basis: 262px;
    }

    &--id {
      grid-column: 2/-2;
    }
  }
}

.form-order__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;
  position: relative;

  &--radio {
    display: block;
    padding-left: 58px;
    padding-top: 11px;

    @media (min-width: $medium-width) {
      padding-left: 77px;
      padding-top: 17px;
      padding-bottom: 18px;
    }

    &::before {
      @include pseudo();
      @include size(40px, 40px);
      border-radius: 50%;
      border: 2px solid #444444;
      left: 0;
      top: 0;

      @media (min-width: $medium-width) {
        @include size(53px, 52px);
        left: 0;
        top: 0;
      }
    }

    .form-order__control:checked + &::after {
      @include pseudo();
      @include size(15px, 15px);
      border-radius: 50%;
      background-color: $turquoise-darker;
      top: 12px;
      left: 13px;

      @media (min-width: $medium-width) {
        @include size(21px, 21px);
        top: 15px;
        left: 16px;
      }
    }
  }

  &--color {
    display: block;
    padding-top: 12px;
    padding-left: 61px;
    padding-bottom: 9px;

    @media (min-width: $medium-width) {
      padding-left: 79px;
      padding-bottom: 21px;
    }

    &::before {
      @include pseudo();
      @include size(38px, 39px);
      border: 2px solid $text;
      top: 0;
      left: 0;

      @media (min-width: $medium-width) {
        @include size(54px, 51px);
        top: 0;
        left: 0;
      }
    }

    .form-order__control:checked + &::after {
      @include pseudo();
      @include size(21px, 16px);
      background-image: url("../img/icon-tick.svg");
      background-size: 21px 16px;
      background-repeat: no-repeat;
      top: 10px;
      left: 8px;

      @media (min-width: $medium-width) {
        transform: scale(1.5);
        top: 17px;
        left: 15px;
      }
    }
  }

  .form-order__item:hover &--radio,
  .form-order__item:focus-within &--radio,
  .form-order__item:hover &--color,
  .form-order__item:focus-within &--color, {
    &::before {
      border-color: $turquoise-radio;
    }
  }

  @media (min-width: $medium-width) {
    font-size: 19px;

    &--text {
      padding-right: 22px;
    }
  }

  @media (min-width: $large-width) {
    &--color {
      padding-top: 16px;
      padding-bottom: 15px;
    }
  }
}

.form-order__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;

  &--contact {
    margin-bottom: 0;
    display: block;
    width: 100%;
  }

  &--add {
    display: block;
  }

  @media (min-width: $medium-width) {
    margin: 0;
    flex-basis: 25%;
    max-width: 25%;
    min-width: 0;
    word-break: break-word;
    padding-right: 10px;

    &--type {
      margin-top: 18px;
    }

    &--color {
      margin-top: 14px;
    }

    &--id {
      margin-top: 16px;
    }

    &--add {
      margin-top: 20px;
      width: 34%;
    }
  }

  @media (min-width: $large-width) {
    flex-basis: 16.7%;
    max-width: 16.7%;
    padding-left: 61px;

    &--contact {
      flex-basis: 20%;
      max-width: 20%;
    }

    &--add {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
}

.form-order__control {
  &--text {
    border: 0;
    border-bottom: 2px solid $basic-black;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: $text;
    height: 52px;
    width: 100%;
    padding-right: 10px;
    outline: none;

    &:hover,
    &:active {
      outline: none;
      border-color: $turquoise-radio;
    }
  }

  &--textarea {
    border: 2px solid $text;
    box-shadow: none;
    font-family: $font;
    padding: 16px;
    min-height: 142px;
    resize: none;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: rgba($basic-black, 0.3);
    font-family: $font;
    letter-spacing: 0.1px;
  }

  @media (min-width: $medium-width) {
    &--tel,
    &--email {
      background-color: $gray;
    }

    &--text {
      font-size: 19px;
      flex-basis: 75%;
      max-width: 75%;
      min-width: 0;
      word-break: break-word;
      padding-left: 19px;
    }

    &--id {
      max-width: 100%;
      flex-grow: 2;
    }

    &--textarea {
      padding: 16px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  @media (min-width: $large-width) {
    &--id {
      width: 85%;
    }

    &--tel,
    &--email {
      flex-basis: 80%;
      max-width: 80%;
    }

    &--textarea {
      flex-basis: 80%;
      max-width: 80%;
    }
  }
}

.form-order__w-contact {
  position: relative;
  margin-bottom: 39px;

  @media (min-width: $medium-width) {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-order__icon {
  position: absolute;
  fill: rgba($basic-black, 0.2);
  bottom: 11px;
  right: 10px;

  .form-order__control:hover + &,
  .form-order__control:focus + &,
  .form-order__control:active + & {
    fill: $turquoise-radio;
  }

  @media (min-width: $medium-width) {
    right: 26px;
    bottom: 12px;
  }

  @media (min-width: $large-width) {
    right: 2px;
    bottom: 12px;
  }
}

.form-order__small {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $text;
  display: block;
  margin-bottom: 30px;

  @media (min-width: $medium-width) {
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.form-order__submit {
  padding-bottom: 12px;
  padding-top: 15px;
  width: 100%;

  @media (min-width: $medium-width) {
    order: -1;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
