.form-size__fieldset {
  border: 0;
  padding: 0;
}

.form-size__legend {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $text;
}

.form-size__size-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.form-size__size-item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.form-size__control {
  & + .form-size__label {
    padding: 10px 33px;
    display: block;
    box-shadow: 0 0 0 2px rgba($text, 0.1);
    font-weight: bold;
    font-size: 17px;

    @media (min-width: $medium-width) {
      padding: 13px 50px;
    }
  }

  &--active + .form-size__label {
    box-shadow: 0 0 0 2px $turquoise;
  }
}

.form-size__btn {
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-white;
  background-color: $turquoise;
  border: 0;
  padding: 0;
}
