.form-size__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.form-size__legend {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $text;
  margin-bottom: 22px;

  @media (min-width: $medium-width) {
    margin-bottom: 20px;
    font-size: 17px;
  }
}

.form-size__size-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.form-size__size-item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.form-size__label {
  padding: 12px 33px;
  display: block;
  border: 2px solid rgba($text, 0.1);
  font-weight: bold;
  font-size: 17px;

  @media (min-width: $medium-width) {
    padding: 12px 48px;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid rgba($text, 0.3);
  }
}

.form-size__control {
  &--active + .form-size__label,
  &:checked + .form-size__label {
    border-color: $turquoise;
  }
}

.form-size__btn {
  font-family: $font;
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-white;
  background-color: $turquoise;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $turquoise-lighter;
    outline: none;
  }

  &:active {
    background-color: $turquoise-darker;
  }
}
