.form-order__fieldset {
  border: 0;
  margin-bottom: 31px;

  @media (min-width: $medium-width) {
    margin-bottom: 48px;
  }

  &--color {
    margin-bottom: 35px;

    @media (min-width: $medium-width) {
      padding-top: 51px;
      padding-bottom: 47px;
      margin-bottom: 0;
    }
  }

  &--id {
    margin-bottom: 35px;

    @media (min-width: $medium-width) {
      padding-top: 51px;
      margin-bottom: 50px;
    }
  }

  &--contacts {
    margin-bottom: 37px;

    @media (min-width: $medium-width) {
      padding-top: 49px;
      padding-bottom: 50px;
    }
  }
}

.form-order__fieldset-wrapper {
  @media (min-width: $medium-width) {
    background-color: $gray;
  }
}

.form-order__list {
  padding: 0;
  list-style: none;
  margin: 0;

  &--add {
    margin-bottom: 9px;
  }

  @media (min-width: $medium-width) {
    display: grid;

    &--type {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: minmax(55px, auto);
      row-gap: 20px;
      grid-auto-rows: minmax(55px, auto);
    }

    &--color {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: minmax(53px, auto);
      grid-auto-rows: minmax(53px, auto);
      row-gap: 23px;
    }

    &--id {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: minmax(52px, auto);
      grid-auto-rows: minmax(52px, auto);
      row-gap: 24px;
    }
    &--contacts {
      display: block;
    }

    &--add {
      display: flex;
      padding-top: 12px;
      margin-bottom: 53px;
    }

    &--submit {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: $large-width) {
    &--type {
      grid-template-columns: 1fr 2fr 3fr;
      grid-auto-flow: column;
    }

    &--color {
      grid-template-columns: 1fr 2fr 2fr;
      margin-left: 17%;
    }

    &--id {
      grid-template-columns: repeat(6, 1fr);
    }

    &--contacts {
      grid-template-columns: 1fr 4fr 1fr;
    }

    &--add {
      grid-template-columns: 1fr 4fr 1fr;
    }

    &--submit {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
}

.form-order__item {

  &--type {
    padding-left: 58px;
    margin-bottom: 6px;
    padding-top: 7px;
    min-height: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--color {
    padding-left: 58px;
    min-height: 40px;
    margin-bottom: 21px;
    padding-top: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--id {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $medium-width) {
    &--type {
      grid-column: 2/-1;
      padding-left: 78px;
      margin-bottom: 0;
      padding-top: 16px;
    }

    &--color {
      margin-bottom: 0;
      padding-top: 13px;


      &:nth-child(odd) {
        grid-column: 2/span 1;
        padding-left: 79px;

        @media (min-width: $large-width) {
          grid-column: auto;
        }
      }

      &:nth-child(even) {
        grid-column: 3/span 1;
        padding-left: 90px;

        @media (min-width: $large-width) {
          grid-column: auto;
          padding-left: 79px;
        }
      }

      &:nth-child(3n+2) {

        @media (min-width: $large-width) {
          margin-left: 84px;
        }
      }
    }

    &--id {
      grid-column: 2/-1;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: $large-width) {
    &--type {
      &:nth-child(1) {
        grid-column: 2/ span 1;
      }

      &:nth-child(2) {
        grid-column: 2/ span 1;
      }

      &:nth-child(3n) {
        grid-column: 3/ span 1;
      }

      &:nth-child(4) {
        grid-column: 3/ span 1;
      }
    }

    &--id {
      grid-column: 2/-2;
    }
  }
}

.form-order__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;
  position: relative;

  &--radio {
    &:before {
      @include pseudo();
      @include size(40px, 40px);
      border-radius: 50%;
      border: 2px solid #444444;
      left: -59px;
      top: -7px;

      @media (min-width: $medium-width) {
        @include size(53px, 52px);
        left: -81px;
        top: -14px;
      }
    }

    .form-order__control:checked + &:after {
      @include pseudo();
      @include size(15px, 15px);
      border-radius: 50%;
      background-color: $turquoise-darker;
      top: 6px;
      left: -47px;

      @media (min-width: $medium-width) {
        @include size(21px, 21px);
        top: 2px;
        left: -64px;
      }
    }
  }

  &--color {
    &:before {
      @include pseudo();
      @include size(38px, 39px);
      border: 2px solid $text;
      top: -8px;
      left: -59px;

      @media (min-width: $medium-width) {
        @include size(54px, 51px);
        top: -11px;
        left: -81px;
      }
    }

    .form-order__control:checked + &:after {
      @include pseudo();
      @include size(21px, 16px);
      background-image: url("../../img/icon-tick.svg");
      background-size: 21px 16px;
      background-repeat: no-repeat;
      top: 4px;
      left: -51px;

      @media (min-width: $medium-width) {
        transform: scale(1.5);
        top: 6px;
        left: -63px;
      }
    }
  }

  .form-order__item:hover &--radio,
  .form-order__item:focus-within &--radio,
  .form-order__item:hover &--color,
  .form-order__item:focus-within &--color, {
    &:before {
      border-color: $turquoise-radio;
    }
  }

  @media (min-width: $medium-width) {
    font-size: 19px;

    &--text {
      padding-right: 22px;
    }
  }
}

.form-order__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise;
  text-transform: uppercase;
  margin-bottom: 23px;

  &--contact {
    margin-bottom: 0;
    display: block;
    width: 100%;

    @media (min-width: $large-width) {
      grid-column: 1/span 1;
    }
  }

  &--add {
    display: block;
  }

  @media (min-width: $medium-width) {
    position: absolute;
    top: 19px;

    &--color {
      top: 67px;
    }
    &--id {
      top: 69px;
    }
    &--contact {
      position: static;
      width: 33%;
    }
    &--add {
      position: static;
      margin-top: 20px;
      width: 34%;
    }
  }
}

.form-order__control {
  &--text {
    border: 0;
    border-bottom: 2px solid $basic-black;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: $text;
    height: 52px;
    width: 100%;
    padding-right: 10px;
    outline: none;

    &:hover,
    &:active {
      outline: none;
      border-color: $turquoise-radio;
    }
  }

  &--textarea {
    border: 2px solid $text;
    box-shadow: none;
    font-family: $font;
    padding: 16px;
    min-height: 142px;
    resize: none;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: rgba($basic-black, 0.3);
    font-family: $font;
    letter-spacing: 0.1px;
  }

  @media (min-width: $medium-width) {
    &--tel,
    &--email {
      background-color: $gray;
    }

    &--text {
      font-size: 19px;
      flex-grow: 2;
      padding-left: 19px;
    }
    &--textarea {
      padding: 16px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  @media (min-width: $large-width) {
    &--short {
      width: 85%;
    }
  }
}

.form-order__w-contact {
  position: relative;
  margin-bottom: 39px;

  @media (min-width: $medium-width) {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-order__icon {
  position: absolute;
  fill: rgba($basic-black, 0.2);
  bottom: 11px;
  right: 10px;

  .form-order__control:hover + &,
  .form-order__control:focus + &,
  .form-order__control:active + & {
    fill: $turquoise-radio;
  }

  @media (min-width: $medium-width) {
    right: 26px;
    bottom: 12px;
  }
}

.form-order__small {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $text;
  display: block;
  margin-bottom: 30px;

  @media (min-width: $medium-width) {
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.form-order__submit {
  padding-bottom: 12px;
  padding-top: 15px;
  width: -webkit-fill-available;

  @media (min-width: $medium-width) {
    order: -1;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $large-width) {
    grid-column: 2/span 1;
  }
}
