.header-other {
  background-image: none;
  background-color: $gray;
  padding-bottom: 74px;
  padding-top: 74px;
  position: relative;

  @media (min-width: $medium-width) {
    padding-top: 104px;
    margin-top: -62px; /*MISTAKE*/

    &::after {
      @include pseudo();
      @include size(100%, 24px);
      background-image: url("../../img/bg-zigzag-fill.svg");
      left: 0;
      bottom: -10px;
      background-size: 1150px;
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $large-width) {
    padding-top: 102px;
    padding-bottom: 93px;
  }

  &--form{
    margin-bottom: 18px;

    @media (min-width: $medium-width){
      margin-bottom: 67px;
    }

    @media (min-width: $large-width){
      margin-bottom: 119px;
    }
  }
}

.header-other__heading {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black-header;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $medium-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 0 160px;
  }

  @media (min-width: $large-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
