.main-header__heading {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-color: $main-header-bc;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black-header;
  margin: 0;
}
