.modal-order {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba($basic-white, 0.9);
  z-index: 100;
  display: none;

  &--open {
    display: block;
  }
}

.modal-order__window {
  top: 20vh;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  padding-top: 29px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 46px;
  border: 1px solid $gray-line;
  box-shadow: 0 5px 10px rgba($modal-shadow, 0.25);
  text-align: center;
  background-color: $basic-white;

  @media (min-width: $medium-width) {
    width: 566px;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 38px;
    padding-bottom: 46px;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  }
}

.modal-order__heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $medium-width) {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 12px;
  }
}
