/*
.page-header {
  display: block;
  background-color: inherit;
  box-shadow: 0 1px 0 $shadow-header,
    inset 0 1px 0 $shadow-header;
}

.page-header__logo{
  display: block;
  width: max-content;
  margin: 0 auto;
}

.page-header__toggle{
  position: absolute;
}
*/
