.page-main__heading {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $basic-black;
  background-color: $gray;
  text-align: center;
}

.page-main__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $text;

  @media (min-width: $medium-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $large-width) {
    padding-left: 174px;
    padding-right: 256px;
  }
}
.page-main__main-header{
  margin-bottom: 30px;

  @media (min-width: $medium-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 73px;
  }
}
