.page {
  box-sizing: border-box;
  height: 100%;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  font-family: $font;
  font-weight: normal;
  color: $text;
  font-size: 15px;
  line-height: 24px;
  background-color: $basic-white;
  min-width: $small-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__main{
  &--index{
    margin-bottom: 39px;
  }

  @media (min-width: $medium-width) {
    margin-bottom: 55px;
  }
  @media (min-width: $large-width) {
    margin-bottom: 105px;
  }

  &--form{
    @media (min-width: $medium-width) {
      margin-bottom: 52px
    }

    @media (min-width: $large-width) {
      margin-bottom: 50px;
    }
  }
}
