.page-footer {
  background-color: $gray;
}

.page-footer--wrapper {
  @media (min-width: $medium-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}
