.process__wrapper {
  border: 1px solid $shadow-header;

  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: $large-width) {
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 22px;
    grid-template-rows: auto auto;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }
}

.process__heading {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  padding-left: 89px;
  margin-bottom: 26px;
  margin-top: 22px;
  position: relative;

  &::before {
    @include pseudo();
    @include size(32px, 22px);
    background-image: url("../img/icon-video.svg");
    background-size: 32px 22px;
    background-repeat: no-repeat;
    left: 33px;
    top: 13px;
  }

  @media (min-width: $medium-width) {
    font-size: 20px;
    padding-left: 106px;
    margin-bottom: 22px;

    &::before {
      left: 41px;
      top: -2px;
    }
  }

  @media (min-width: $large-width) {
    grid-column: 2/-1;
    font-size: 20px;
    padding-left: 54px;
    padding-right: 50px;
    padding-top: 48px;
    margin-top: 48px;
    margin-bottom: 10px;

    &::before {
      left: 55px;
      top: 0;
    }
  }
}

.process__video {
  margin-bottom: 34px;

  @media (min-width: $medium-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 0;
  }
}

.process__info {
  padding: 0 32px;
  padding-bottom: 30px;

  @media (min-width: $medium-width) {
    padding-left: 40px;
    padding-right: 33px;
    padding-bottom: 43px;
  }

  @media (min-width: $large-width) {
    grid-column: 2/-1;
    padding-left: 55px;
    padding-right: 56px;
  }
}

.process__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $text;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $medium-width) {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 39px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 53px;
  }
}

.process__btn {
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 15px;

  @media (min-width: $medium-width) {
    margin-right: 7px;
  }

  @media (min-width: $large-width) {
    margin-right: 0;
  }
}
