.products__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $large-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products__item {
  margin-bottom: 32px;

  @media (min-width: $medium-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $large-width) {
    margin-right: 51px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
