.socials {
  padding-bottom: 26px;
  position: relative;

  &::after {
    @include pseudo();
    @include size(100%, 1px);
    background-color: $footer-line;
    bottom: 0;
  }

  @media (min-width: $medium-width) {
    padding-bottom: 0;
    flex-basis: 45%;
    max-width: 45%;

    &::after {
      display: none;
    }
  }
}

.socials__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 23%;
  padding-left: 22%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $medium-width) {
    padding-left: 14%;
    padding-right: 39%;
  }

  @media (min-width: $large-width)  {
    padding-left: 28%;
    padding-right: 43%;
  }
}

.socials__item {
  @include size(22px, 22px);
  margin-right: 5px;

  &:last-child{
    margin-right: 0;
  }

  &--fb {
    @include size(22px, 28px);
  }
}

.socials__svg {
  fill: $cart;
}

.socials__link {
  &:hover .socials__svg,
  &:focus .socials__svg {
    fill: $turquoise-darker-active;
  }

  &:active .socials__svg {
    fill: rgba($turquoise-darker-active, 0.3);
  }
}
