//fonts
$font: "OpenSans", "Arial", sans-serif;
//media-size
$small-width: 320px;
$medium-width: 768px;
$large-width: 1150px;
//colors
$basic-white: #ffffff;
$map-background: #f3e9d7;
$shadow-header: #ececec;

$turquoise: #63d1bb;
$turquoise-lighter: #59d5bc;
$turquoise-darker: #56c3b2;
$turquoise-darker-active: #46c1ae;
$turquoise-radio: #62d1ba;
$turquoise-logo: #46c1ae;

$gray: #f1f1f1;
$gray-line: #c6c6c6;
$footer-line: #e5e5e5;
$main-header: #f9f9f9;
$text: #444444;
$cart: #231f20;
$modal-shadow: #000101;
$basic-black: #000000;
$black-header: #010000;
