//fonts
$font: "OpenSans", arial, sans-serif;
//colors
$basic-white: #ffffff;
$map-background: #f3e9d7;
$main-header-bc: #fafafa;
$shadow-header: #ececec;

$turquoise: #63d1bb;
$turquoise-darker: #56c3b2;
$turquoise-radio: #62d1ba;
$turquoise-logo: #46c1ae;

$gray: #f1f1f1;
$gray-line: #c6c6c6;
$text: #444444;
$modal-shadow: #000101;
$basic-black: #000000;
$black-header: #010000;
