//fonts
$font: "opensans" Georgioa serif;
//colors
$basic-white: #FFFFFF;
$map-background: #F3E9D7;
$main-header-bc: #FAFAFA;
$shadow-header: #ECECEC;

$turquoise: #63D1BB;
$turquoise-darker: #56C3B2;
$turquoise-radio: #62D1BA;
$turquoise-logo: #46C1AE;

$gray: #F1F1F1;
$text: #444444;
$basic-black: #000000;
$black-header: #010000;

